<span class="onViewLoad" data-function="onHomeLoad" hidden></span>
<h1>Jobs</h1>

<div class="panel">
    <p class="panel-heading">Aktionen</p>
    <button id="jenkins_new_tab">Jenkins öffnen</button>
</div>

<p>Klicken Sie auf einen Job, um mehr Information anzuzeigen, oder auf den Pfeil, um direkt zur Projektseite zu gelangen.</p>
<div id="list_jobs">
    <!--<div class="job" data-name><div class="job-color">&nbsp;</div><span class="job-title">Job.Title</span><span class="job-newTab" title="Im neuen Tab öffnen">&#64;</span></div>-->
</div>

<br>

<center>
    <span class="link" data-target="legende">Legende</span>
</center>