<h1>Legende</h1>

<p>Die verwendeten Farben haben folgende Bedeutung:</p>

<h3>Jobs</h3>

<div class="legende">
    <div class="job-color legende-color" data-status="grey">&nbsp;</div>
    <div class="legende-description">Das Projekt wurde noch nie gebaut oder ist deaktiviert.</div>
</div>
<div class="legende">
    <div class="job-color legende-color" data-status="grey_anime">&nbsp;</div>
    <div class="legende-description">Der erste Build des Projekts findet gerade statt.</div>
</div>
<div class="legende">
    <div class="job-color legende-color" data-status="blue">&nbsp;</div>
    <div class="legende-description">Der letzte Build war erfolgreich.</div>
</div>
<div class="legende">
    <div class="job-color legende-color" data-status="blue_anime">&nbsp;</div>
    <div class="legende-description">Der letzte Build war erfolgreich. Ein neuer Build findet gerade statt.</div>
</div>
<div class="legende">
    <div class="job-color legende-color" data-status="yellow">&nbsp;</div>
    <div class="legende-description">Der letzte Build war erfolgreich, aber instabil. Dies bedeutet, daß der Build zwar technisch durchgeführt werden konnte, dabei aber Tests während des Builds fehlschlugen.</div>
</div>
<div class="legende">
    <div class="job-color legende-color" data-status="yellow_anime">&nbsp;</div>
    <div class="legende-description">Der letzte Build war erfolgreich, aber instabil. Ein neuer Build findet gerade statt.</div>
</div>
<div class="legende">
    <div class="job-color legende-color" data-status="red">&nbsp;</div>
    <div class="legende-description">Der letzte Build schlug fehl.</div>
</div>
<div class="legende">
    <div class="job-color legende-color" data-status="red_anime">&nbsp;</div>
    <div class="legende-description">Der letzte Build schlug fehl. Ein neuer Build findet gerade statt.</div>
</div>

<h3>Builds</h3>
<div class="legende">
    <div class="build-color legende-color" data-status="ABORTED">&nbsp;</div>
    <div class="legende-description">Der Build wurde manuell abgebrochen.</div>
</div>
<div class="legende">
    <div class="build-color legende-color" data-status="FAILURE">&nbsp;</div>
    <div class="legende-description">Der Build ist fehlgeschlagen.</div>
</div>
<div class="legende">
    <div class="build-color legende-color" data-status="NOT_BUILT">&nbsp;</div>
    <div class="legende-description">Noch nicht gebaut.</div>
</div>
<div class="legende">
    <div class="build-color legende-color" data-status="SUCCESS">&nbsp;</div>
    <div class="legende-description">Der Build war erfolgreich.</div>
</div>
<div class="legende">
    <div class="build-color legende-color" data-status="UNSTABLE">&nbsp;</div>
    <div class="legende-description">Der Build ist instabil, d.h. er hat zu vernachlässigende Fehler aufgeworfen.</div>
</div>