/**
 *  Stylesheet für die Navigationsleiste
 */

/**
    Color Codes

    Erfolg / Grün = #4CAF50;
    Error / Rot = #E53935;
*/

/**
 *  Höhe, Breite, Farbe der Navigationsleiste
 */
#navbar {
    height: 36px;
    width: 480px;
    padding: 4px;
    
    background-color: #333;
}

/**
 *  Darstellung des Home-Icons in der Navbar
 */
#navbar .navbar-icon {
    margin: 4px;
    position: absolute;
    cursor: pointer;
}

/**
 *  Textdarstellung des Names
 */
#navbar .navbar-name {
    line-height: 36px;
    margin-left: 40px;
    
    color: white;
    font-size: 24px;
    font-weight: 600;
}

/**
 *  Textdarstellung des Verbindungsstatus
 */
#navbar .navbar-connection {
    line-height: 24px;
    margin-left: 8px;
    
    color: #eee;
    font-size: 14px;
    font-weight: 400;
}

/**
 *  Wenn keine Verbindung zum Server besteht, soll der Status in roter Farbe dargestellt werden
 */
#navbar .navbar-connection[data-status="not-connected"] {
    color: #E53935;
}

/**
 *  Wenn keine Verbindung zum Server besteht, soll der Status in grüner Farbe dargestellt werden
 */
#navbar .navbar-connection[data-status="connected"] {
    color: #4CAF50;
}
/**
 *  Darstellung des Refresh-Icons in der Navbar
 */
#navbar .navbar-refresh {
    position: relative;
    float: right;
    margin: 4px;
    line-height: 36px;
    font-size: 13px;
    cursor: pointer;
}

/**
 *  Darstellung des Setting-Icons in der Navbar
 */
#navbar .navbar-settings {
    position: relative;
    float: right;
    margin: 4px;
    line-height: 36px;
    font-size: 13px;
    cursor: pointer;
}